<!DOCTYPE html> 

<html>


<head>
    <title>HCS Group AU - Experiment</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
  </head>

<body>

    <nav class="navbar navbar-light bg-primary">
        <span style="color: white;" class="navbar-brand mb-0 h1">Experiment: Alphanumeric Password Input</span>
      </nav>


    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
            <center><h1>Sign Up</h1></center>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6 offset-md-3 border rounded-top ps-2 pt-2 pb-4">
            <form method="POST" action="{% url 'random_experiment' %}">
              {% csrf_token %}
              <input type="hidden" name="pages" value="{{ remaining_pages }}" />
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input class="form-control w-100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" name="p_name" required>
                  <small id="emailHelp" class="form-text text-muted">Enter your name, ensuring it is the same identifier throughout the experiment.</small>
                </div>
                <div class="form-group">
                  <label for="participant_password">Password</label>
                  <input class="input form-control w-100" id="participant_password" placeholder="Password" name="p_pass" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
              </form>
            </div>
        </div>
        <br />
        <div class="simple-keyboard mt-3"></div>

        <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
        <script src="src/index.js"></script>
        <script>
          $('#participant_password').keydown(function(event) { 
            return false;
          });

          const Keyboard = window.SimpleKeyboard.default;

const myKeyboard = new Keyboard({
  onChange: input => onChange(input),
  onKeyPress: button => onKeyPress(button)
});

function onChange(input) {
  document.querySelector(".input").value = input;
  console.log("Input changed", input);
}

function onKeyPress(button) {
  console.log("Button pressed", button);
}
        </script>
    </div>

    <div class="container text-center mt-5">
      <ul class="list-group">
        <li class="list-group-item bg-dark" style="color: white;">Views (remove for experiment)</li>
        <li class="list-group-item"><a href="{% url 'homepage' %}">Home Page</a></li>
        <li class="list-group-item"><a href="{% url 'show_display' 'emojiandalpha' %}">Emoji & Alpha</a></li>
        <li class="list-group-item"><a href="{% url 'show_display' 'emoji' %}">Emoji</a></li>
        <li class="list-group-item"><a href="{% url 'show_display' 'alpha' %}">Alpha</a></li>
      </ul>
    </div>

    <br /><br />
</body>


</html>














